<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover</title>
</head>
<body>
<form method="post">
    <input type="number" name="x-coordinate" value="0" />
    <input type="number" name="y-coordinate" value="0" />
    <select name="direction">
        <option value="NORTH">North</option>
        <option value="EAST">East</option>
        <option value="SOUTH">South</option>
        <option value="WEST">West</option>
    </select>
    <input type="submit" value="Place Rover" />
</form>
</body>
</html>