<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover</title>
</head>
<body>
<form method="post">
    <input type="number" name="x-coordinate" />
    <input type="number" name="y-coordinate" />
    <select name="direction">
        <option value="N">North</option>
        <option value="E">East</option>
        <option value="S">South</option>
        <option value="W">West</option>
    </select>
    <input type="submit" value="Place Rover" />
</form>
</body>
</html>